/* external css */

p{
            color: blue;
            background-color: yellow;
            text-align: center;
        }
        h1{
            text-decoration: "un";
            text-align: center;
        }